absl-py==0.5.0
altgraph==0.16.1
astor==0.7.1
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.6.16
chardet==3.0.4
future==0.16.0
gast==0.2.0
grpcio==1.15.0
h5py==2.8.0
idna==2.8
joblib==0.14.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
macholib==1.11
Markdown==3.0.1
mock==3.0.5
mysql-connector-python==8.0.16
numpy==1.22.0
pafy==0.5.4
pandas==0.25.1
pefile==2018.8.8
Pillow==5.3.0
pipenv==2018.11.26
protobuf==3.6.1
python-dateutil==2.8.0
python-mpv==0.3.9
pytz==2019.3
pywin32-ctypes==0.2.0
PyYAML==4.2b1
requests==2.22.0
scikit-learn==0.21.3
scipy==1.1.0
six==1.11.0
soupsieve==1.9.2
termcolor==1.1.0
urllib3==1.25.3
urwid==2.0.1
virtualenv==16.7.2
virtualenv-clone==0.5.3
Werkzeug==0.14.1
youtube-dl==2019.7.12
yTermPlayer==1.2.2
